@charset "UTF-8";
/* 폰트 */
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MICEGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 전체 틀 */
.section-about {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	padding: 80px 0 140px 0;
	margin: 0 0 140px 0;
}
/* 글자 */
.section-about h2 {
	margin: 0 auto 100px;
	display: inline-block;
	font-family: 'establishRetrosansOTF';
	color: #298A08;
	font-size: 40px;
}
/* 창 나눔 */
.cont-about {
	display: flex;
	margin: 0 auto;
}

/*img*/
.memcontainer {
	width: 438px;
	margin: 0 auto;
}

.memimages {
	position: relative;
	width: 438px;
	height: 438px;
	overflow: hidden;
	border-radius: 20px;
	margin: 0 auto;
}

.memimages img {
	width: 438px;
	height: 438px;
}

/* text 창*/
.txt-about dt {
	display: inline-block;
	margin-bottom: 17px;
	width: 110px;
	font-size: 22px;
	font-family: 'MICEGothic Bold';
	color: #38610B;
}

.info-about {
	margin: 0 0 0 60px;
}

.txt-about {
	margin-top: 55px;
}

.txt-about dd {
	display: inline-block;
	font-family: 'MICEGothic';
	font-size: 22px;
}